@import url('https://fonts.googleapis.com/css?family=Yantramanav&display=swap');

body {
    font-family: 'Yantramanav', sans-serif;
}

.text-win {
    color: #00cc00;
}

.text-lose {
    color: #cc0000;
}

.text-draw {
    color: #595959;
}

.container {
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

.score-board {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: 0 auto;
}

.score-board p:first-child {
    background-color: #fac124;
    color: #fff;
}

.score-board p:last-child {
    background-color: #000;
    color: #fff;
}

.restart-btn {
    display: none;
    outline: none;
    border: none;
    margin: 0 auto;
    padding: .6em 1em;
    cursor: pointer;
    font-size: .8rem;
}

.restart-btn:hover {
    background-color: #fac124;
    color: #fff;
    transition: .3s;
}

/* Choices */
#icon-choices {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
}

.choice {
    cursor: pointer;
}

.choice:hover {
    color: #fac124;
    transition: .2s;
}

@media (max-width: 750px) {
    .choice {
        font-size: 130px;
    }
}

@media (max-width: 650px) {
    .choice {
        font-size: 90px;
    }
}

@media (max-width: 300px) {
    #icon-choices {
        display: flex;
        flex-direction: column;
    }
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background: #fff;
    text-align: center;
    margin: 10% auto;
    padding: 1rem;
    border-radius: 10px;
    width: 300px;
    animation-name: modalpopup;
    animation-duration: 1s; 
}

@keyframes modalpopup {
    from {
        opacity: 0; /* invisible */
    }

    to {
        opacity: 1;
    }
}